.box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 45%;
  height: 45%;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 24px;
  color: black;
  cursor: pointer;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.box--answer {
  background-color: #cccccc;
  font-size: 16px;
  color: #ffffff;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.box:hover {
  transform: rotateY(180deg);
}

.box:hover .box__content {
  display: none;
}

.box:hover .box__answer {
  display: block;
}

.box__content,
.box__answer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backface-visibility: hidden;
  text-align: center;
  padding: 20px;
  line-height: 1.5;
}

.box__answer {
  display: none;
  transform: rotateY(180deg);
}

.box__answer-text--correct {
  color: green;
}

.box--locked {
  transform: rotateY(180deg);
  cursor: default;
}

.box--locked .box__content {
  display: none;
}

.box--locked .box__answer {
  display: block;
}

.box--locked:hover {
  cursor: default;
}

.box--locked:hover .box__content {
  display: none;
}

.box--locked:hover .box__answer {
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #658932;
  color: white;
}

h1 {
  text-align: center;
  font-size: 3em;
  color: white;
  margin: 20px;
}

h2 {
  text-align: center;
  font-size: 2em;
  margin: 40px;
}

p {
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  padding: 30px;
  width: 80%;
}

.site-nav__item {
  display: inline-block;
  list-style-type: none;
  margin: 0 auto;
  padding: 10px;
  font-size: 20px;
}

nav {
  text-align: center;
  background-color: white;
}

img {
  width: 40%;
  height: auto;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-main__section {
  width: 80%;
  height: 100%;
  background-color: white;
  color: black;
  margin: 10px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  color: black;
  margin: 25px;
  border-radius: 10px;
}

.question {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  width: 80%;
  background-color: white;
  color: black;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.win-screen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  font-size: 24px;
}

.win-screen--show {
  display: block;
}

.lose-screen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  font-size: 24px;
}

.lose-screen--show {
  display: block;
}/*# sourceMappingURL=style.css.map */